header.header {
  display: flex;
  /* background-color: papayawhip; */
  align-items: center;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
/* 
.logo {
} */

nav {
  display: flex;

}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  list-style: none;
  font-size: 24px;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
