
.login-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
 height: 80%;
 width: 100%;
}

.login-section .login-image{
    padding-left: 30px;
}
